.nav-title {
  margin-left: 10px;
}

.navbar-item {
  font-size: 1.2rem;
  font-weight: bold;
}

#navigation-bar {
  /* background: linear-gradient(52deg, rgba(72, 95, 199, 0.3) 30%, rgba(0, 209, 278, 0.3) 70%); */
}

#profile-picture {
  border-radius: 25px;
}
