.Dashboard {
    background-color: #F7F7F7;
}

.loadingScreen {
    background-color: ##F1F2F3;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
