#StockInput {
  width: 90%;
}

#FilterInput {
  width: 100%;
}

#hero-dash {
  background: linear-gradient(52deg, #485FC7 30%, #00d1b2 70%);
  border-radius: 25px;
  font-size: 0.8em;
}

#sort-dropdown {
  background: linear-gradient(52deg, #a6b2e4 40%, #00d1b2 70%);
}

#modal-section {
  background: linear-gradient(52deg, #485FC7 30%, #00d1b2 70%);
  background-color: #F7F7F7;
  border-radius: 25px;
}

#modal-heading {
  color: #ffffff;
  font-weight: bold;
}

#stock-modal {
  width: 60%;
}

#viewing-stock {
  height: 100%;
  width: 100%;
}

/* #dropdown-button:focus {
  background-color: #263680;
} */
