#login-body {
  font-family: 'Questrial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  background-color: #f7f7f7;
}

#login-hero-success {
  background: #F2F6FA;
}

#login-hero, .hero.is-success {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#login-box {
  margin-top: 5rem;
}

.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}

.avatar img {
  padding: 5px;
  background: #f7f7f7;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
}

#login-input {
  font-weight: 300;
}

#login-p {
  font-weight: 700;
}

p.subtitle {
  padding-top: 1rem;
}

.login-hr {
  border-bottom: 1px solid black;
}

.has-text-black {
  color: black;
}

#login-field {
  padding-bottom: 10px;
}

#login-fa {
  margin-left: 5px;
}
